<div class="bg-image jumbotron mt-4"> 
        <div class="container">
                <div>
                   
                <h2 class="centre">About</h2>
                </div>
<br>
<p>The SmartBuy is an app to help the customers to find the location of the products in our shop. It has been conceived
    and designed to provide comprehensive end-to-end solutions to the customers for finding the aisle and shelf in which
    the product they are looking for is located.The SmartBuy also provides the customers the option to get their
    purchase history.</p>

    <p> The SmartBuy also allows the manager to add new product details and to modify the existing product details and
    update the stock availability of the products.It allows the manager to generate the bill for the users.

 </p>
 </div>
</div>