
<div class="row">
<div class="container-fluid pl-3 ml-3">
    
        <div class="card-deck edit-cards mb-5 pb-5 mt-5">
            <div>
                <div class="card mt-2 justify-content-center">
                    <img class="card-img-top" src="{{purchaseHistory.productCode.image}}" alt="Card image cap">
                    <div class="card-body pr-3 pl-3 pb-1">
                        <div class="row">
                            <h5 class="col">
                                <label name="name" id="testname">{{purchaseHistory.productCode.productName}}</label>
                            </h5>
                            <label name="price"
                                class="float-right text-danger pr-3">{{purchaseHistory.productCode.rate| currency:"₹"}}</label>
                        </div>
                        <div class="card-subtitle text-muted">
                            <span
                                class="badge badge-success veralign pt-1 pb-1">{{purchaseHistory.productCode.brand}}</span>
                            <img src="https://img.icons8.com/material/24/000000/natural-food--v1.png">
                            <span class="float-right ml-auto"> Product Code: <span
                                    class="badge badge-info mt-1 pt-1 pb-1"
                                    id="badge-free">{{purchaseHistory.productCode.productCode}}</span>
                            </span>
                        </div>
                        <div >

                                <div class="collapse" id="collapseExample">
                          
                                  <table class="table table-borderless table-sm mb-0">
                                    <tbody>
                                
                                      <tr>
                                        <td class="font-weight-normal align-middle">Quantity: </td>
                                        <td class="float-right font-weight-normal">
                                          <span class="text-muted"> {{purchaseHistory.quantity.quantity}}</span>
                                        </td>
                                        
                                      </tr>
                                      <tr>
                                        <td class="font-weight-normal align-middle">Purchase Id:</td>
                                        <td class="float-right font-weight-normal">
                                          <span class="text-muted"> {{purchaseHistory.purchase.id}}</span>
                                        </td>
                                       
                                      </tr>
                                      <tr>
                                            <td class="font-weight-normal align-middle">Purchase Date:</td>
                                            <td class="float-right font-weight-normal">
                                              <span class="text-muted">{{purchaseHistory.purchase.date}}</span>
                                            </td>
                                            
                                          </tr>
                                          <tr>
                                                <td class="font-weight-normal align-middle">Total Amount:</td>
                                                <td class="float-right font-weight-normal">
                                                  <span class="text-muted">{{purchaseHistory.purchase.totalAmount}}</span>
                                                </td>
                                                
                                              </tr>
                                    </tbody>
                                  </table>
                          
                                </div>
                          
                                
                          
                                  <a class="btn btn-flat moreDetails" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">More Details</a>
                          
                              </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
